/*importing fonts*/
@import url("https://use.typekit.net/nry2kba.css");

/*variables*/

:root {
  --background-color: #db524d;
  --secondary-color: white;
  --ligh-opacity: rgba(255, 255, 255, 0.15);
  --dark-opacity: rgba(65, 64, 66, 0.25);

  --font: Proxima Soft, sans-serif;
  --primary-font-color: #414042;
  --white-space: 1rem;
}
body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--primary-font-color);
  background-color: var(--background-color);
}
p {
  margin: 0;
}
/*header*/
header {
  margin: var(--white-space);
  padding-bottom: var(--white-space);
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--dark-opacity) 0.1rem;
}
.logo {
  max-width: 30%;
}
.headerButtons {
  display: flex;
  gap: 0.5rem;
}
.headerButtons button {
  border: none;
  padding: 0.5rem;
  background-color: var(--ligh-opacity);
  color: white;
  border-radius: 0.3rem;
}

/*Red section*/
.redSection {
  background-color: #db524d;
  color: white;
  display: grid;
  justify-content: center;
  margin: calc(var(--white-space) * 2);
}
/*timer*/
.timerSection {
  background-color: var(--ligh-opacity);

  padding: var(--white-space);
  border-radius: 0.5rem;
  display: grid;
  justify-content: center;
  row-gap: calc(var(--white-space) * 2);
}
.timerSection ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: calc(var(--white-space) / 2);
}
.timerSection li {
  color: white;
  padding: calc(var(--white-space) / 2);
}
.selected {
  background-color: var(--dark-opacity);
  border-radius: 0.3rem;
}
.timerSection li:hover {
  background-color: var(--dark-opacity);
  border-radius: 0.3rem;
  transition: all 1s;
}

.timer {
  font-size: 7rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  text-align: center;
}

.timerSection button {
  border: none;
  border-bottom: solid var(--dark-opacity) 0.3rem;
  padding: var(--white-space);
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-weight: bolder;
  width: 15em;
  justify-self: center;
}

/*working on*/

.workingOn {
  padding: var(--white-space);
  display: grid;
  justify-content: center;
  row-gap: calc(var(--white-space) / 2);
}

.smaller {
  font-size: 0.7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
