/*importing fonts*/
@import url("https://use.typekit.net/nry2kba.css");

/*variables*/

:root {
  --background-color: #db524d;
  --secondary-color: white;
  --ligh-opacity: rgba(255, 255, 255, 0.15);
  --dark-opacity: rgba(65, 64, 66, 0.15);

  --font: Proxima Soft, sans-serif;
  --primary-font-color: #414042;
  --white-space: 1rem;
}
body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--primary-font-color);
  background-color: var(--background-color);
}
p {
  margin: 0;
}

/*header*/
header {
  margin: var(--white-space);
  padding-bottom: var(--white-space);
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--dark-opacity) 0.1rem;
}
.logo {
  max-width: 30%;
}
.headerButtons {
  display: flex;
  gap: 0.5rem;
}
header button {
  border: none;
  padding: 0.5rem;
  background-color: var(--ligh-opacity);
  color: white;
  border-radius: 0.3rem;
}
header button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: all ease 0.7s;
  cursor: pointer;
}
header button:active {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: solid var(--secondary-color) 0.1rem;
  transition: all ease 0.7s;
}

/*Red section*/
.redSection {
  background-color: #db524d;
  color: white;
  display: grid;
  row-gap: calc(var(--white-space) * 2);
  justify-content: center;
  padding: calc(var(--white-space) * 2);
}
/*timer*/
.timerSection {
  background-color: var(--ligh-opacity);

  padding: var(--white-space) calc(var(--white-space) * 3);
  border-radius: 0.5rem;
  display: grid;
  justify-content: center;
  row-gap: calc(var(--white-space) * 2);
}
.timerSection ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: calc(var(--white-space) / 2);
}
.timerSection li {
  color: white;
  padding: calc(var(--white-space) / 2);
}
.selected {
  background-color: var(--dark-opacity);
  border-radius: 0.3rem;
}
.timerSection li:hover {
  font-size: 1.05rem;
  transition: all ease 0.7s;
  cursor: pointer;
}
.timerSection li:active {
  background-color: var(--dark-opacity);
  border-radius: 0.3rem;
}

.timer {
  font-size: 7rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  text-align: center;
}

.timerSection button {
  border: none;
  border-bottom: solid var(--dark-opacity) 0.3rem;
  padding: var(--white-space);
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-weight: bolder;
  width: 15em;
  justify-self: center;
}
.timerSection button:hover {
  transform: scale(1.1);
  transition: all ease 0.7s;
}
.timerSection button:active {
  transition: none;
  transform: translateY(5%) scale(1.1);
  background-color: #f5f5f5;
  border-bottom: solid var(--secondary-color) 0.3rem;
}
/*working on*/

.workingOn {
  display: grid;
  justify-content: center;
  row-gap: calc(var(--white-space) / 2);
}

.smaller {
  font-size: 0.7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

/*tasks*/
.tasks {
  display: grid;
  row-gap: calc(var(--white-space) / 2);
}

.taskTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--secondary-color) 0.1rem;
}
.settings {
  width: 10%;
  background-color: var(--ligh-opacity);
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings img {
  max-height: 60%;
}

.task {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  border-radius: 0.3rem;
  padding: calc(var(--white-space) / 2);
}
.task img {
  max-width: 10%;
}

.settNegative {
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  border-color: solid var(--primary-font-color) 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray {
  color: #d1d3d4;
}
.bigger {
  font-size: larger;
}
.strike {
  text-decoration: line-through;
}
.uncomplete {
  border-left: solid var(--primary-font-color) 0.3rem;
}
.complete {
  border-left: solid var(--secondary-color) 0.3rem;
}

.newTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--white-space) / 2);

  background-color: var(--dark-opacity);
  padding: var(--white-space);
  border-radius: 0.3rem;
  border: dashed var(--ligh-opacity) 0.2rem;
  color: rgba(255, 255, 255, 0.7);
}
.newTask img {
  max-width: 6%;
}

.task:hover {
  transform: scale(1.1);
  transition: all ease 0.7s;
}
.newTask:hover {
  background-color: var(--ligh-opacity);
  transition: all ease 0.7s;
}
.report {
  display: flex;
  justify-content: center;
  gap: var(--white-space);
  padding: var(--white-space);

  background-color: var(--ligh-opacity);
  border-top: solid var(--ligh-opacity) 0.1rem;
}

/*WHITE SECTION*/
.whiteSection {
  background-color: var(--secondary-color);
  padding: calc(var(--white-space) * 2);
}
.whiteSection section {
  padding: var(--white-space) 0;
}
.whiteSection h1 {
  font-size: 2rem;
  margin: 0;
  padding: calc(var(--white-space) * 2) 0;
}
.whiteSection h2 {
  margin: 0;
  padding: calc(var(--white-space) / 2) 0;
}

/*short border under h2*/
.whiteSection h2::after {
  content: "";
  display: block;
  width: 1rem;
  padding: calc(var(--white-space) / 2);
  border-bottom: solid var(--background-color) 0.2rem;
}
.whiteSection p {
  padding: var(--white-space) 0;
  line-height: 1.3rem;
}
strong {
  color: var(--background-color);
}
.whiteSection li {
  font-size: 0.9rem;
  padding: calc(var(--white-space) / 2) 0;
}
.whiteSection ul {
  list-style: none;
}
/*changing bulltes dots color by creating a before element*/
.whiteSection ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--background-color); /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: var(--white-space); /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}

/*footer*/
footer {
  border-top: solid var(--dark-opacity) 0.1rem;
  background-color: var(--secondary-color);
  margin: 0;
  padding: var(--white-space) calc(var(--white-space) * 3);
  display: grid;
  row-gap: var(--white-space);
  justify-items: center;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: calc(var(--white-space) / 2);
}
footer a {
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 0.9rem;
}
footer a:hover {
  color: var(--background-color);
  cursor: pointer;
}
.SoMe {
  display: flex;
  justify-content: center;
  gap: var(--white-space);
}
.SoMe img {
  max-width: 100%;
}
.SoMe img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.7s;
}
/*computer screen*/
@media only screen and (min-width: 600px) {
  header,
  .redSection {
    margin: var(--white-space) 10vw;
  }
  .whiteSection {
    padding: var(--white-space) 10vw;
  }
}
@media only screen and (min-width: 900px) {
  header,
  .redSection {
    margin: var(--white-space) 30vw;
  }
  .whiteSection {
    padding: var(--white-space) 30vw;
  }
}
